footer.page {

	flex: none;

	border-top: 1px solid $well-border;
	background: $well-bg;
	color: lighten($gray-light, 10%);

	a {
		color: lighten($gray-light, 10%);

		&:hover {
			color: $gray-light;
		}
	}

	ul {
		padding: 0;
		list-style: none;
	}

	.widget {
		margin: 2em 0;
	}

}