header {

	.nav > li > a {
		text-transform: uppercase;
	}

	.logo {
		float: left;
		box-sizing: content-box;
		position: relative;
		font-size: 42px;
		display: inline-block;
		padding: 0.6em 0.5em 0.3em;
		width: 100px;
		background-image: url('images/logo_background.jpg');
	}

	.dgob {
		font-size: $font-size-h4;
		letter-spacing: 0.0625em;
		float: left;
		margin: 2.2em 0 0 1em;
		text-transform: uppercase;
		font-weight: 500;
		opacity: 0.8;
	}

	.navbar-header {
		text-transform: uppercase;
	}

	.search {
		width: 250px;
		margin-top: 2.4em;

		button{
			border: 0;
			background: transparent;
		}
	}

}